<nav class="topbar">
  <div class="topbar__inner">
    <a routerLink="/" class="topbar__brand">Miguel.dev</a>

    <div class="topbar__links">
      <a
        *ngFor="let link of links"
        routerLink="/"
        [fragment]="link.fragment"
      >
        {{ link.label }}
      </a>

      <button class="topbar__button topbar__button--theme" type="button" (click)="toggleTheme()" [attr.aria-label]="darkMode ? 'Activar modo claro' : 'Activar modo oscuro'">
        <i class="fa-solid" [ngClass]="darkMode ? 'fa-sun' : 'fa-moon'"></i>
      </button>

      <button class="topbar__button topbar__button--lang" type="button" (click)="toggleLanguage()">
        <span [class.active]="currentLanguage === 'es'">ES</span>
        <span [class.active]="currentLanguage === 'en'">EN</span>
      </button>
    </div>
  </div>
</nav>
